exo6 body {
    background-color: whitesmoke;
}

#dessin {
    position: absolute;
    width: 25%;
    height: auto;
}

#portrait {
    position: absolute;
    display: none;
    width: 25%;
    height: auto;
}


/*#mot {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: none;
}

#resultat {
    border: 2px solid black;
    height: 10em;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#reponse {
    font-size: 50px;
    display: flex;
    justify-content: space-between;
    letter-spacing: 15px;
}

#reponse p {
    margin-right: 10px;
}

#clavier {
    border: 2px solid black;
    height: 30em;
    width: 100%;
    padding: 5%;
    align-self: center;
    align-content: center;
    margin: none;
}

#clavier button {
    margin: auto;
    width: 45px;
    height: 40px;
}

button {
    border: none;
    padding: 6px 0 6px 0;
    border-radius: 75%;
    border-bottom: 3px solid #6a6d67ad;
    font: bold 13px Arial;
    color: #555;
    background: #fff;
}

img {
    position: absolute;
    padding-left: 30%;
    max-width: none;
}

#letter_used {
    border: none;
    padding-top: none;
    margin-top: none;
}

#letter_used p {
    text-align: center;
    font-size: xxx-large;
    font-family: monospace;
    letter-spacing: 10px;
}